package layout

templ Home() {
    <section class="rounded-md border-slate-600">
        <div class="p-8 md:p-12 lg:px-16">
           <div class=" text-center">
            <hr class="m-4">
                <h2 class=" m-8 font-serif md:text-4xl font-bold text-gray-900 text-2xl dark:text-white">
                    Welcome to Kevin's blog
                </h2>
            <hr class="m-4">
           </div>
        </div>
    </section>
}
